@use "../variables"
@use "../functions"

.startHome
    background: url(../img/banner.png) no-repeat
    height: 100vh
    background-position: center
    background-size: cover


.services

    padding: 2rem 0
    .container
        display: grid
        @include functions.gridRepeat(3, 0.69fr, 1.4rem)
        @include functions.responsive(991px)
            @include functions.gridRepeat(2, 0.69fr, 1.4rem)
        @include functions.responsive(680px)
            @include functions.gridRepeat(1, 100%, 1.4rem)
 
        .box
            border: .1rem solid variables.$rocho    
            padding: 1.5rem
            @include functions.fc()
            gap: 1.2rem
            transition: transform .7s ease
            &:hover
                i
                    transform: scale(1.2)
            i,h2,p
                color: variables.$rocho
            i
                font-size: 5rem
            h2
                font-size: 1.7rem
            p
                font-size: 1.4rem

.descrptions
    .container
        @include functions.ffcnm()
        gap: 4rem
        .card
            display: grid
            @include functions.gridRepeat(2, 0.78fr, 3rem)
            @include functions.responsive(720px)
                @include functions.gridRepeat(1, 100%, 3rem)
            .img
                height: 400px
            &:nth-child(even)
                direction: rtl
            .content
                padding-top: 2.5rem
                h2
                    font-size: 2.3rem
                p
                    font-size: 1.4rem
                    margin-bottom: 1.6rem

