@use "../variables"
@use "../functions"

.startHome
    background: url(../img/banner.png) no-repeat
    height: 100vh
    background-position: center
    background-size: cover


.services

    padding: 2rem 0
    .container
        display: grid
        grid-template-columns: repeat(3, 0.69fr)
        @include functions.responsive(991px)
            grid-template-columns: repeat(2, 0.69fr)
        @include functions.responsive(680px)
            grid-template-columns: repeat(1, 100%)
        margin: 0 auto
        width: 100%
        max-width: variables.$max-Width
        gap: 1.4rem
        .box
            border: .1rem solid variables.$rocho    
            padding: 1.5rem   
            display: flex
            align-items: center
            gap: 1.2rem
            transition: transform .7s ease
            &:hover
                i
                    transform: scale(1.2)
            i,h2,p
                color: variables.$rocho
            i
                font-size: 5rem
            h2
                font-size: 1.7rem
            p
                font-size: 1.4rem
