@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}
@media (max-width: 991px) {
  html {
    font-size: 55.5%;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 289px) {
  html {
    font-size: 47.5%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 1028px) {
  section {
    padding: 2rem 4% !important;
  }
}

.dfc {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.noneDesketop {
  display: none;
}
@media (max-width: 789px) {
  .noneDesketop {
    display: block;
  }
}

@media (max-width: 789px) {
  .noneMobile {
    display: none;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  font-size: 2.3rem;
  font-weight: bold;
}

#logo, .header nav a {
  color: #fff;
}

.header {
  padding: 1.4rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container nav ul a {
  font-weight: bold;
  font-size: 1.5rem;
}

.startHome {
  background: url(../img/banner.png) no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.services {
  padding: 2rem 0;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(3, 0.69fr);
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  gap: 1.4rem;
}
@media (max-width: 991px) {
  .services .container {
    grid-template-columns: repeat(2, 0.69fr);
  }
}
@media (max-width: 680px) {
  .services .container {
    grid-template-columns: repeat(1, 100%);
  }
}
.services .container .box {
  border: 0.1rem solid #4E019E;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: transform 0.7s ease;
}
.services .container .box:hover i {
  transform: scale(1.2);
}
.services .container .box i, .services .container .box h2, .services .container .box p {
  color: #4E019E;
}
.services .container .box i {
  font-size: 5rem;
}
.services .container .box h2 {
  font-size: 1.7rem;
}
.services .container .box p {
  font-size: 1.4rem;
}

.descrptions .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.descrptions .container .card {
  display: grid;
  grid-template-columns: repeat(2, 0.78fr);
  gap: 3rem;
}
@media (max-width: 720px) {
  .descrptions .container .card {
    grid-template-columns: repeat(1, 100%);
  }
}
.descrptions .container .card .img {
  height: 400px;
}
.descrptions .container .card:nth-child(even) {
  direction: rtl;
}
.descrptions .container .card .content {
  padding-top: 2.5rem;
}
.descrptions .container .card .content h2 {
  font-size: 2.3rem;
}
.descrptions .container .card .content p {
  font-size: 1.4rem;
}

.footerMain {
  padding: 2rem;
  background: #2b3035;
}
.footerMain .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .footerMain .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.footerMain .container .descSite a {
  font-size: 3rem;
}
.footerMain .container .descSite p {
  max-width: 250px;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 0.7rem;
}
.footerMain .container span {
  font-size: 1.2rem;
}
.footerMain .container .socialMedia .containerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8rem;
}
.footerMain .container .socialMedia .containerIcons a {
  font-size: 1.6rem;
  margin-left: 0.7rem;
}
.footerMain .container .socialMedia .boreder {
  height: 0.1rem;
  width: 200px;
  background: #8C939A;
  margin-bottom: 0.6rem;
}

.footerMain a, .footerMain p, .footerMain span {
  color: #8C939A;
}
.footerMain a:hover, .footerMain p:hover, .footerMain span:hover {
  color: #fff;
}

/*# sourceMappingURL=global.css.map */
